body {
    background-color: #777777;
    background-size: cover;
    font-family: 'Trebuchet MS';

}

.linea-titulo {
    background: rgb(255, 0, 0);
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.titulo {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 27px;
    left: 145px;
    top: 25%;

}
.contenido {
    display: flex;
    justify-content: center;
    margin: 26px;

}

.logo-banner {
    position: absolute;
    width: 70px;
    height: 70px;
    left: 35px;
    top: 0%;
}

.boton-banner {
    display: flex;

}

a {
    text-decoration: none;
    color: inherit;
}


button {
    font-size: 15px;
    color: rgb(0, 0, 0);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: color 0s;
    text-decoration: none;

}

button:hover {
    color: rgb(250, 250, 250);
}



#login-container {
    margin-top: 14%;
    max-width: 400px;
    background-color: rgb(32, 196, 202);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

footer {
    margin-top: 5%;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px;


}